*, html{
	scroll-behavior: smooth !important;
}


@font-face {
    font-family: 'new_kansasregular';
    src: url('new_kansas_regular-webfont.woff2') format('woff2'),
         url('new_kansas_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


* {
	margin:0;
	padding:0;
	font-family: new_kansasregular, sans-serif;
	box-sizing: border-box;
}

.contain{
	width:100%;
	display:flex;
	justify-content: flex-end;
	margin-top: -20px;
}

#logo-word {
	font-size: 20px;
	margin-left: 45px;
	color: #1F2881;;
	padding-top: 30px;
}

.navigation-bar{
	background-color: #FBFBF1;
	height: 0px;
}

nav {
	background: transparent;
	border-block-width: 100%;
/*	box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);*/
	z-index: 2;
	padding-right: 3%;
}

nav ul a {
	list-style: none;
	display:inline-block;
	padding: 0 40px;
	font-size: 15px;
	color: #1F2881;
	cursor: pointer;
	position:relative;
	z-index: 3;
	transition: color 0.5s;
	font-weight: bolder;
	text-decoration: none;
}

nav ul a::after {
	content: '';
	background: #1F2881;
	width: 100%;
	height: 40px;
	border-radius: 2px;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	opacity:0;
	transition: top 0.5s, opacity 0.5s;

}

nav ul a:hover {
	color: #FBFBF1;
}

nav ul a:hover::after{
	top: 50%;
	opacity: 1;
}


nav .icon {
  display: none;
}

@media screen and (max-width: 700px) {
  nav a:not(:first-child) {display: none;}
  nav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 700px) {
  nav.responsive {position: relative;}
  nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


.container {
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

.slides{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
	color: #1F2881;;
	background: #FBFBF1;
	scroll-snap-align: start;
}

.project-image {
	width: 500px;
}

.image2, .image4{
	width: 350px;
}

.image5{
	width: 650px;
}

.image6 {
	width: 550px;
}
.image8 {
	width: 600px;
}


.image9{
	width: 300px;
}

.description {
	max-width: 550px;
}
.slides h2 {
	font-size: 40px;
}

.slides h3 {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 20px;
}

.slides p {
	font-size: 15px;
	padding-bottom: 20px;
}


button {
	width: 150px;
	font-weight: bold;
	font-size: 15px;
	padding: 8px;
	font-family: new_kansasregular, sans-serif;
	border-radius: 2px;
	border-style: double;
	border-width: 5px;
	transition: all ease-in-out .2s;
}
#slide1 button,#slide3 button, #slide5 button, #slide7 button, #slide9 button{
	background-color: #1F2881;
	border-color: #1F2881;
	color: #FBFBF1;
}

#slide1 button:hover, #slide3 button:hover, #slide5 button:hover, #slide7 button:hover, #slide9 button:hover{
	background-color: transparent;
	border-color: #1F2881;
	color: #1F2881;
}

#slide2 button, #slide4 button, #slide6 button, #slide8 button{
	background-color: #FBFBF1;
	border-color: #FBFBF1;
	color: #1F2881;
}

#slide2 button:hover, #slide4 button:hover, #slide6 button:hover, #slide8 button:hover{
	background-color: transparent;
	border-color: #FBFBF1;
	color: #FBFBF1;
}


#slide1, #slide3, #slide5, #slide7, #slide9{
	background: #FBFBF1;
	color: #1F2881;
}



#slide2, #slide4, #slide6, #slide8, #contact{
	background: #363C8C;
	color: #FBFBF1;
}

#slide4 h3 {
	padding-bottom: 0px;
}

@media only screen and (max-width: 700px) {
	.project-image{
		display: none;
	}
	.description {
		padding: 20px;
	}
}


.grid {
	padding-top: 40px;
	display: grid;
	grid-template-columns: 50% 50%;
}

/*

links


*/
.contact-content h3 {
	font-size: 28px;
	text-align: center;
}

.contact-content {
	max-width: 700px;
}

.links-and-contact {
	display:grid;
	grid-template-columns: auto auto;
	grid-gap: 50px;
	padding: 50px;
	border:5px double #FBFBF1;
	width: 750px;
	height: 400px;
}


.part {
	padding-top: 15px;
	padding-bottom: 50px;
}

.part > h4{
	font-size: 20px;
	font-weight: bolder;
}

.part > a{
	color: #FBFBF1;
	text-decoration: none;
	font-size: 15px;
}

.link-image {
	width: 30px;
	height: 30px;
	transition: all ease in-out .2s;
}

.link-image:hover {
	filter: brightness(.80);
}

.links-list {
	list-style: none;
}

/*@media (max-width:800px) {
	.links-and-contact {
		grid-template-columns: 50% 50%;
		width: auto;
	}
}*/

@media (max-width:650px) {
	.links-and-contact {
		grid-template-columns: 100%;
		width: auto;
	}
	.part {
		padding-top: 0px;
		padding-bottom: 20px;
	}
}

@media (max-width:680px) {
	.links-and-contact {
		border:none;
	}
}


form input, textarea {
	padding: 5px;
	width: 240px;
	background-color: transparent;
	color: #D5D5C5;
	border: none;
	border-bottom: 1px solid #FBFBF1;
}

label h4 {
	padding-top: 10px;
}

li {
	display: inline;
	padding-right: 10px;
}


form input[type="submit"] {
	width: 240px;
	background: #FBFBF1;
	border-style: double;
	border-color: #FBFBF1;
	color: #363C8C;
	font-size: 15px;
	font-weight: bold;
	padding: 8px;
	border-width: 5px;
}

form input[type="submit"]:hover {
	background-color: transparent;
	border-color: #FBFBF1;
	color: #FBFBF1;
}

.submit-button-wrapper {
	margin: 20px 0;
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #27374D, rgba(0, 0, 0, 0));
	margin-bottom: 72px;
	margin-top: 20px;
}






