*, html{
	scroll-behavior: smooth !important;
}

@font-face {
    font-family: 'new_kansasregular';
    src: url('new_kansas_regular-webfont.woff2') format('woff2'),
         url('new_kansas_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: new_kansasregular, sans-serif;
	color: #1F2881;
	background: #FBFBF1;
}


.contain{
	width:100%;
	display:flex;
	justify-content: flex-end;
	margin-top: -20px;
}


#logo-word {
	font-size: 20px;
	margin-left: 45px;
	color: #1F2881;;
	padding-top: 30px;
}

.navigation-bar{
	background-color: #FBFBF1;
	height: 0px;
}

nav {
	background: transparent;
	border-block-width: 100%;
	z-index: 2;
	position: fixed;
	padding-right: 3%;
}

nav ul a {
	list-style: none;
	display:inline-block;
	padding: 0 40px;
	font-size: 15px;
	color: #1F2881;
	cursor: pointer;
	position:relative;
	z-index: 3;
	transition: color 0.5s;
	font-weight: bolder;
	text-decoration: none;
}

nav ul a::after {
	content: '';
	background: #1F2881;
	width: 100%;
	height: 40px;
	border-radius: 2px;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	opacity:0;
	transition: top 0.5s, opacity 0.5s;

}

nav ul a:hover {
	color: #FBFBF1;
}

nav ul a:hover::after{
	top: 50%;
	opacity: 1;
}


nav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 700px) {
  nav a:not(:first-child) {display: none;}
  nav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 700px) {
  nav.responsive {position: absolute;}
  nav.responsive a.icon {
    position: absolute;
    right: 17px;
    top: -20px;
  }
  nav.responsive a:not(first-child) {
    float: none;
    display: block;
    text-align: right;
    margin-top: 20px;
  }

  nav.responsive ul {
  	margin-top: 30px;
  	text-align: right;
  }
}




.container {
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

@media (max-width:650px) {
	.container {
		scroll-snap-type: y mandatory;
	}
}



.slides{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
	scroll-snap-align: start;
}



/*


home


*/
@media (max-width:800px) {
	.profile-picture {
		display: none;
	}
	.mina-picture{
		display: none;
	}
}


.profile-picture {
	border-radius: 15px;
	width:265px;
	height:330px;
	box-shadow: 0 4px 6px 0 rgb(34, 60 80, 0.16);
	transition: all ease-in-out .2s;
}

.profile-picture:hover {
	box-shadow:0 8px 12px 0 rgb(34, 60, 80, 0.16);
}


.intro {
	max-width: 550px;
	text-align: center;
}

#my-name {
	font-size: 50px;
	font-weight: bolder;
}

#my-title {
	font-size: 22px;
	font-weight: bold;

}

#paragraph {
	margin-top: 30px;
	margin-bottom: 45px;
}

.intro-buttons{
	margin-left: 10%;
	display: grid;
	grid-template-columns: 50% 50%;
}

body button {
	width: 150px;
	background-color: #363C8C;
	border-color: #363C8C;
	color: #FBFBF1;
	font-weight: bold;
	font-size: 15px;
	padding: 8px;
	font-family: new_kansasregular, sans-serif;
	border-style: double;
	border-width: 5px;
	transition: all ease-in-out .2s;
}

body button:hover{
	background-color: transparent;
	border-color: #1F2881;
	color: #1F2881;
}

.top-button {
	padding: 0px;
	background-color: transparent;
	transition: all ease-in-out .2s;
	position: absolute;
	right: 1rem;
	bottom: 1rem;
	filter: opacity(90%);
}


.top-button img:hover{
	filter: opacity(70%);
}

@media only screen and (max-width: 900px) {
	.top-button img{
		width: 35px;
		height: 35px;
	}
}

/*

ABOUT ME



*/


.title {
	color: #1F2881;
	font-size: 15px;
	text-align: center;
}

.about-content{
	text-align: center;
	max-width: 5000px;
	background-color: transparent;
}

.mina-picture {
	border-radius: 10%;
	width:265px;
	height:330px;
	box-shadow: 0 4px 6px 0 rgb(34, 60 80, 0.16);
	transition: all ease-in-out .2s;
	margin-left: 60px;
}

.mina-picture:hover {
	box-shadow:0 8px 12px 0 rgb(34, 60, 80, 0.16);
}

.about-grid {
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 50px;
	gap: 50px;
	background-color: transparent;
}


.i-am, .hobbies{
	color: #FBFBF1;
	padding: 20px 20px;
	border: 3px solid #1F2881;
	border-radius: 10px;
	background-color: transparent;
}

.i-am > h3, .hobbies > h3{
	padding: 30px ;
	font-size: 23px;
	background-color: transparent;
}

.i-am > ul, .hobbies > ul{
	font-size: 17px;
	background-color: transparent;
}

.about-list{
	display:grid;
	grid-template-rows: auto auto auto;
	list-style: none;
	grid-gap: 25px;
	background-color: transparent;
}

@media (max-width:600px) {
	.about-grid {
		grid-template-columns: 100%;
		padding: 0px;
		gap: 40px;
	}
	.i-am > h3, .hobbies > h3{
	padding: 10px ;
	font-size: 25px;
}
}

/*

projects


*/

#projects{
	scroll-margin-top: 2rem;
}

.title {
	font-size: 30px;
	margin-bottom: 40px;
}

.carousel-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 20px;
	gap: 120px;
}

.projects-carousel {
	display: flex;
	position: relative;
	width: 600px;
	height: 500px;
	padding: 30px 0;
	justify-content: center;
	align-items: center;
	overflow: visible;
	flex-shrink: 0;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.carousel-btn {
	background-color: transparent;
	color: #363C8C;
	font-size: 35px;
	padding: 10px 18px;
	cursor: pointer;
	transition: all ease-in-out .2s;
	flex-shrink: 0;
	border: none;
	z-index: 100;
	position: relative;
	align-self: center;
}

.carousel-btn:hover {
	transform: scale(1.15);
}

.project-image-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.75);
	transition: all 0.5s ease-in-out;
	opacity: 0;
	filter: grayscale(100%);
	pointer-events: none;
}

.project-image-wrapper.active {
	opacity: 1;
	filter: grayscale(0%);
	transform: translate(-50%, -50%) scale(1);
	z-index: 3;
	pointer-events: auto;
}

.project-image-wrapper.prev {
	opacity: 0.4;
	filter: grayscale(100%);
	transform: translate(-150%, -50%) scale(0.60);
	z-index: 1;
	pointer-events: none;
}

.project-image-wrapper.prev .project-title-btn {
	display: none;
}

.project-image-wrapper.next {
	opacity: 0.4;
	filter: grayscale(100%) blur(20%);
	transform: translate(50%, -50%) scale(0.60);
	z-index: 1;
	pointer-events: none;
}

.project-image-wrapper.next .project-title-btn {
	display: none;
}

.project-image {
	width: 330px;
	transition: all ease in-out .2s;
	-webkit-user-drag: none;
	user-select: none;
	-webkit-user-select: none;
	pointer-events: none;
	margin-bottom: 40px;
}

.project-image-wrapper:not(.active) * {
	pointer-events: none;
}


.project-title-btn {
	margin-top: 0;
	width: 150px;
	background-color: #363C8C;
	border-color: #363C8C;
	color: #FBFBF1;
	font-weight: bold;
	font-size: 15px;
	padding: 8px;
	font-family: new_kansasregular, sans-serif;
	border-style: double;
	border-width: 5px;
	transition: all ease-in-out .2s;
	text-decoration: none;
	text-align: center;
	display: inline-block;
}

.project-title-btn:hover {
	background-color: transparent;
	border-color: #1F2881;
	color: #1F2881;
}

@media (max-width:600px) {
	.carousel-container {
		padding: 0 20px;
		max-width: 100%;
	}
	.carousel-btn {
		font-size: 24px;
		padding: 5px 10px;
		align-self: center;
	}
	.projects-carousel {
		width: 280px;
		height: 400px;
	}
	.project-image {
		width: 200px;
	}
	.project-image-wrapper.active {
		transform: translate(-50%, -50%) scale(1);
	}
	.project-image-wrapper.prev {
		transform: translate(-130%, -50%) scale(0.5);
		opacity: 0.3;
	}
	.project-image-wrapper.next {
		transform: translate(30%, -50%) scale(0.5);
		opacity: 0.3;
	}
}

/*

links


*/

.contact-content {
	max-width: 700px;
	border-color: #1F2881;
	border-width: 5px;
}

.links-and-contact {
	display:grid;
	grid-template-columns: auto auto;
	grid-gap: 50px;
	padding: 50px;
	border:5px solid #1F2881;
	width: 750px;
	height: 400px;
}

@media (max-width:650px) {
	.links-and-contact {
		grid-template-columns: 100%;
	}
}


.part {
	padding-top: 15px;
	padding-bottom: 50px;
}

.part > h4{
	font-size: 20px;
	font-weight: bolder;
}

.part > a{
	color: #1F2881;
	text-decoration: none;
}

.link-image {
	width: 30px;
	height: 30px;
	transition: all ease in-out .2s;
}

.link-image:hover {
	filter: brightness(.80);
}

.links-list {
	list-style: none;
}

@media (max-width:800px) {
	.links-and-contact {
		grid-template-columns: 50% 50%;
		width: auto;
	}
}

@media (max-width:650px) {
	.links-and-contact {
		grid-template-columns: 100%;
		width: auto;
	}
	.part {
		padding-top: 0px;
		padding-bottom: 20px;
	}
}

@media (max-width:680px) {
	.links-and-contact {
		border:none;
	}
}

form input, textarea {
	padding: 5px;
	width: 240px;
	background-color: transparent;
	color: gray;
	border: none;
	border-bottom: 1px solid #1F2881;
}

label h4 {
	padding-top: 10px;
}

li {
	display: inline;
	padding-right: 10px;
}


form input[type="submit"] {
	width: 240px;
	background: #363C8C;
	border-style: double;
	border-color: #363C8C;
	color: #FBFBF1;
	font-size: 15px;
	font-weight: bold;
	padding: 8px;
	border-width: 5px;
}

form input[type="submit"]:hover {
	background-color: transparent;
	border-color: #1F2881;
	color: #1F2881;
}

.submit-button-wrapper {
	margin: 10px 0;
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #27374D, rgba(0, 0, 0, 0));
	margin-bottom: 72px;
	margin-top: 20px;
}


